<select class="ms-2" value="" style="@GetStyle()" @onchange="UpdateValue">
    @foreach (var option in Element.GetOptions())
    {
        <option value="@option.Key">@option.Value</option>
    }
</select>



@code {
    
    [Parameter]
    public Element Element { get; set; }
    [Parameter]
    public EventCallback<Element> ElementChanged { get; set; }

    private async Task UpdateValue(ChangeEventArgs e)
    {
        var dic = Element.GetProperties();
        dic["Text"] = e.Value.ToString();
        Element.SetProperties(dic);
        await ElementChanged.InvokeAsync(Element);
    }

    private string GetStyle()
    {
        string res = "";
        foreach (var prop in Element.GetProperties())
        {
            if (char.IsLower(prop.Key[0]))
                res += prop.Key + " : " + prop.Value + ";";
        }
        return res;
    }
}
