@page "/filledForms"
@using System.Text.Json;
@inject HttpClient client
@inject NavigationManager NavigationManager
<h3>FilledForms</h3>

@foreach (var form in list)
{
    <div>
        <h4>Форма по шаблону @form.ClassName</h4>
        <div class="d-flex">
            <div class="border row row-cols-1 col-md-6 mb-2" style="border-color:blue !important">
                <button class="btn btn-primary" @onclick="() => NavigateTo(form)">Просмотреть форму</button>
            </div>
            <div class="ms-3">
                <button class="btn btn-danger d-inline-block ps-2 pe-2" @onclick="() => DeleteForm(form.Id.ToString())">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash m-0 align-content-end justify-content-end" width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 7l16 0"></path>
                        <path d="M10 11l0 6"></path>
                        <path d="M14 11l0 6"></path>
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
}

@code {
    private List<GenericForm> list = new List<GenericForm>();


    protected async override Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        list = await client.GetFromJsonAsync<List<GenericForm>>("api/GenericForm");
        StateHasChanged();
    }
    private async Task DeleteForm(string id)
    {
        await client.DeleteAsync($"api/GenericForm?id={id}");
        await Refresh();
    }

    private void NavigateTo(GenericForm form)
    {
        var formJson = JsonSerializer.Serialize(form);
        NavigationManager.NavigateTo($"/form/{Uri.EscapeDataString(formJson)}");
    }
}
