@page "/forms"
@using BlazorApp2.Client.Pages
@inject HttpClient client

<h3>FormList</h3>
<button class="btn btn-primary" @onclick=CreateForm> Create new form</button>
@if (!list.Any())
{
    <h3>Форм еще нет</h3>
}
else
{
    @foreach (var form in list)
    {
        <a href=@($"drag/{form.Form.Id}")>@form.Form.Id</a>
        <br />
    }
}


@code {
    private List<FormTemplateViewModel> list = new List<FormTemplateViewModel>();

    protected async override Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        list = await client.GetFromJsonAsync<List<FormTemplateViewModel>>("api/Form");
        StateHasChanged();
    }

    private void CreateForm()
    {
        var form = new Form() { Id = Guid.NewGuid() };
        client.PutAsJsonAsync<Form>("api/Form", form);
        Refresh();
    }
}

<style>
    .line {
        color: #000000 !important;
        height: 1px !important;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
</style>
