@* <div class="custom-radio">
    <div class="ms-2 radio-outer-circle @GetCircleClass()" @onclick="ToggleChecked">
        <div class="radio-inner-circle"></div>
    </div>
    <span>@Element.GetProperties()["Text"]</span>
</div>

@code {
    [Parameter]
    public Element Element { get; set; }
    [Parameter]
    public EventCallback<Element> ElementChanged { get; set; }

    private async Task UpdateChecked(ChangeEventArgs e)
    {
        var dic = Element.GetProperties();
        dic["Text"] = e.Value.ToString();
        Element.SetProperties(dic);
    }

    private string GetStyle()
    {
        string res = "";
        foreach (var prop in Element.GetProperties())
        {
            if (char.IsLower(prop.Key[0]))
                res += prop.Key + " : " + prop.Value + ";";
        }
        return res;
    }
    private async Task ToggleChecked()
    {
        var currentValue = Element.GetProperties()["Checked"];
        var newValue = (currentValue == "true") ? "false" : "true";
        var dic = Element.GetProperties();
        dic["Checked"] = newValue;
        Element.SetProperties(dic);
        await ElementChanged.InvokeAsync(Element);
    }
    private string GetCircleClass()
    {
        return Element.GetProperties()["Checked"] == "true" ? "checked" : "";
    }

}
 *@